.DS_Store

# Vagrant
.vagrant

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.dir-locals.el

# old, ad-hoc ignores
artifacts
local-artifacts
airgap-scp.sh

# generated
dist/
tmp/
bin/
/store/
/registry/
cmd/hauler/binaries
