name: CI

on:
  workflow_dispatch:
  push:
    tags: 
      - '*'


jobs:

  test:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: go test ./...
    - name: Run lint/vet
      run: |
        go get -u golang.org/x/lint/golint
        golint ./...
        go vet ./...
    
  create-release:
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Download release notes utility
      env:
        GH_REL_URL: https://github.com/buchanae/github-release-notes/releases/download/0.2.0/github-release-notes-linux-amd64-0.2.0.tar.gz
      run: cd /tmp && curl -sSL ${GH_REL_URL} | tar xz && sudo mv github-release-notes /usr/local/bin/
    - name: Generate release notes
      run: |
          echo 'CHANGELOG' > /tmp/release.txt
          #github-release-notes -org rancherfederal -repo hauler -since-latest-release -include-author >> /tmp/release.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: Build and run Hauler package build
      run: |
        mkdir bin
        go build -o bin ./cmd/...
        ./bin/hauler package build
    - name: Run GoReleaser
      id: goreleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: latest
        args: release --release-notes=/tmp/release.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}