name: Pages Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-pages:
    name: Deploy GitHub Pages
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Clean Up Actions Tools Cache
        run: rm -rf /opt/hostedtoolcache

      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Pages Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: './static'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
